<img class="img-circle profile-pic z-depth-3" src="/assets/img/headshots/maryann.png"><br><br>
<h3>MaryAnn Guerra, MBA</h3>
<h4>Chief Executive Officer &amp; Co-Founder</h4>
<p class="lead">
    <a class="btn btn-primary" href="mailto:maryann@aestheticsbiomed.com">
        <i class="fa fa-envelope fa-lg" title="Email" aria-hidden="true"></i>
        <span class="sr-only">Email</span>
	</a>
    <a class="btn btn-primary" href="https://www.linkedin.com/in/maryann-guerra-61703831" target="_blank">
        <i class="fa fa-linkedin fa-lg" title="LinkedIn" aria-hidden="true"></i>
        <span class="sr-only">LinkedIn</span>
	</a>
</p>