<img class="img-circle profile-pic z-depth-3" src="/assets/img/headshots/tim_d.png"><br><br>
<h3>Tim Duggins</h3>
<h4>Chief of Regulation</h4>
<p class="lead">
  <a class="btn btn-primary" href="mailto:timd@aestheticsbiomed.com">
    <i class="fa fa-envelope fa-lg" title="Email" aria-hidden="true"></i>
    <span class="sr-only">Email</span>
  </a>
  <a class="btn btn-primary" href="https://www.linkedin.com/in/tim-shanahan-9230456" target="_blank">
    <i class="fa fa-linkedin fa-lg" title="LinkedIn" aria-hidden="true"></i>
    <span class="sr-only">LinkedIn FIX ME</span>
  </a>
</p>