<img class="img-responsive margin-bottom-50" src="/assets/img/headshots/tim_s.jpg">
<h3>Tim Shanahan</h3>
<h4>Vice President for Sales</h4>
<h4><abbr title="Phone">P:</abbr> 1.800.726.5029</h4>
<p>
	<a href="mailto:tim@aestheticsbiomed.com">
	  <i class="fa fa-envelope fa-2x" title="Email" aria-hidden="true"></i>
	  <span class="sr-only">Email</span>
	</a>
	<a href="https://www.linkedin.com/in/tim-shanahan-9230456" target="_blank" rel="noopener noreferrer">
	  <i class="fa fa-linkedin-square fa-2x" title="LinkedIn" aria-hidden="true"></i>
	  <span class="sr-only">LinkedIn</span>
	</a>
</p>