<img class="img-circle profile-pic z-depth-3" src="/assets/img/tim_sq.jpeg"><br><br>
<h3 class="text-uppercase">Tim Shanahan</h3>
<h4>Vice President for Sales</h4>
<h4><abbr title="Phone">P:</abbr> 1.800.726.5029</h4>
<p class="lead">
  <a class="btn btn-primary" href="#">
    <i class="fa fa-envelope fa-lg" title="Email" aria-hidden="true"></i>
    <span class="sr-only">Email</span>
  </a>
  <a class="btn btn-primary" href="#">
    <i class="fa fa-linkedin fa-lg" title="LinkedIn" aria-hidden="true"></i>
    <span class="sr-only">LinkedIn</span>
  </a>
</p>