<img class="img-circle profile-pic z-depth-3" src="/assets/img/headshots/maryann.png"><br><br>
<h3>MaryAnn Guerra, MBA</h3>
<h4>Chief Executive Officer &amp; Co-Founder</h4>
<p>
	<a href="mailto:maryann@aestheticsbiomed.com">
	  <i class="fa fa-envelope fa-2x" title="Email" aria-hidden="true"></i>
	  <span class="sr-only">Email</span>
	</a>
	<a href="https://www.linkedin.com/in/maryann-guerra-61703831" target="_blank">
	  <i class="fa fa-linkedin-square fa-2x" title="LinkedIn" aria-hidden="true"></i>
	  <span class="sr-only">LinkedIn</span>
	</a>
</p>