<img class="img-circle profile-pic z-depth-3" src="/assets/img/farhan.jpg"><br><br>
<h3 class="text-uppercase">Dr. Farhan Taghizadeh, M.D.</h3>
<h4>Director of Innovation &amp; Co-Founder</h4>
<p class="lead">
    <a class="btn btn-primary" href="#">
        <i class="fa fa-envelope fa-lg" title="Email" aria-hidden="true"></i>
        <span class="sr-only">Email</span>
    </a>
    <a class="btn btn-primary" href="#">
        <i class="fa fa-linkedin fa-lg" title="LinkedIn" aria-hidden="true"></i>
        <span class="sr-only">LinkedIn</span>
    </a>
</p>