<script>
  var defaultCaption = "Individual results my vary."
  var captionOne = "This 70-year-old woman experienced significant improvement in wrinkles, with a Visia wrinkle score in the 7th percentile for her before photo and 36th percentile for her after photo after her first Vivace treatment.";
  var captionTwo = "This woman improved her Visia wrinkle score from the 41st percentile to the 76th percentile with one treatment for The Vivace.";
  var captionThree = "This woman improved her Visia UV damage score from the 48th percentile to the 81st percentile, showing impressive improvement following one Vivace treatment."
  var captionFour = "This woman improved her Visia texture score from the 41st percentile to 72nd percentile with one Vivace treatment."

  $().ready(function(){
      $('#carousel-example-generic').on('slid.bs.carousel', function () {
          var activeSlideId = $('div.active').attr('id');
          if (activeSlideId == "one") {
              $('#main-caption').text(captionOne);
          } else if (activeSlideId == "two") {
              $('#main-caption').text(captionTwo);
          } else if (activeSlideId == "three") {
              $('#main-caption').text(captionThree);
          } else if (activeSlideId == "four") {
              $('#main-caption').text(captionFour);
          } else {
              $('#main-caption').text(defaultCaption);
          }
      })
  })
</script>