<footer class="site-footer background-gray-dark margin-top-100 ">
  <div class="container">

    <!--
          Sitemap
      -->

    <div class="row site-map">
      <!-- <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-0 col-lg-offset-1"> -->
      <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-2">
        <ul id="sitemap_about">
          <li><a class="underline" href="about_us.html">About Us</a></li>
          <li><a href="about_us.html#mission">Mission</a></li>
          <li><a href="about_us.html#executive_team">Executive Team</a></li>
        </ul>
      </div>
      <!--
        DISABLED LINKS UNTIL CONTENT IS READY
        -->

<!--
      <div class="col-xs-6 col-sm-2 col-sm-offset-0 col-md-2 col-lg-2 col-lg-offset-0 col-lg-offset-0">
        <ul id="sitemap_care_centers">
          <li><a class="underline" href="care_centers/care_centers.html">Care Centers</a></li>
          <li><a href="care_centers/experience.html">Experience</a></li>
          <li><a href="care_centers/training.html">Training</a></li>
          <li><a href="care_centers/locations.html">Locations</a></li>
          <li><a href="care_centers/start.html">Start a Care Center</a></li>
        </ul>
      </div>
      -->
      <!-- <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-2 col-lg-2 col-lg-offset-0"> -->
      <div class="col-xs-2">
        <ul id="sitemap_products">
          <li><a class="underline" href="products.html">Products</a></li>
          <li><a href="vivace/vivace.html">VIVACE</a></li>

        <!--
          DISABLED LINKS UNTIL CONTENT IS READY
          -->

          <!-- <li><a href="peptide_glide/peptide_glide.html">3x Peptide Glide</a></li> -->
          <!-- <li><a href="binteren_mask/binteren_mask.html">Binteren Mask</a></li> -->
          <!-- <li><a href="amniospray/amniospray.html">AmnioSpray</a></li> -->
        </ul>
      </div>
      <!--
        DISABLED LINKS UNTIL CONTENT IS READY
        -->
<!--
      <div class="col-xs-6 col-sm-2 col-sm-offset-0 col-md-2 col-lg-2 col-lg-offset-0">
        <ul id="sitemap_technology">
          <li><a class="underline" href="technology.html">Technology</a></li>
          <li><a href="technology/regulatory_expertise.html">Regulatory Expertise</a></li>
          <li><a href="technology/ip.html">Intellectual Property</a></li>
          <li><a href="technology/partner.html">Partner With Us</a></li>
        </ul>
      </div>
      -->
      <!-- <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-1 col-lg-1 col-lg-offset-0"> -->
      <div class="col-xs-2">
        <ul id="sitemap_news">
          <li><a class="underline" href="news.html">News</a></li>
        </ul>
      </div>
      <!-- <div class="col-xs-6 col-sm-2 col-sm-offset-0 col-md-1 col-lg-1 col-lg-offset-0"> -->
      <div class="col-xs-2">
        <ul id="sitemap_contact">
          <li><a class="underline" href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!-- Horizontal Rule -->
      <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
        <div class="divider background-gray margin-top-25"></div>
      </div>
    </div>


    <!--
          ORIGINAL LAYOUT OF Contact information
      -->

    <!-- <div class="row margin-top-25">
      <div class="col-xs-1 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-1 col-md-offset-1 footer-brand-logo clearfix">
        <img class="pull-left" src="img/ABM_White_Logo_Mark01.png" alt="">
      </div>
      <div class="col-xs-8 col-sm-8 col-md-4 col-lg-6">
        <address>
          <strong>Aesthetics BioMedical, Inc.</strong><br>
          2702 N. 3rd street<br>
          Suite 3001<br>
          Phoenix, Arizona 85004
        </address>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0 text-right social-media-links">
          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
          {% if site.facebook_username %}
            {% include icon-facebook.html username=site.facebook_username %}
          {% endif %}
          {% if site.youtube_username %}
            {% include icon-youtube.html username=site.youtube_username %}
          {% endif %}
      </div>
    </div> -->
     <div class="row margin-top-25">
      <div class="col-xs-12 text-center">
          <address>
            <strong>Aesthetics BioMedical, Inc.</strong><br>
            <a href="https://goo.gl/maps/kcVPNDpeyjo" target="_blank" alt="Link to Address on Google Maps">
              2702 N. 3rd street<br>
              Suite 3001<br>
              Phoenix, Arizona 85004
            </a>
          </address>
        <div class="social-media-links">
            {% if site.twitter_username %}
              {% include icon-twitter.html username=site.twitter_username %}
            {% endif %}
            {% if site.facebook_username %}
              {% include icon-facebook.html username=site.facebook_username %}
            {% endif %}
            {% if site.youtube_username %}
              {% include icon-youtube.html username=site.youtube_username %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!--
        Copyright
     -->
  <div class="row row-gray-very-dark margin-top-25">
    <div class="col-xs-12 margin-top-25 margin-bottom-25">
      <p class="gray-light text-center">&copy; 2016 Aesthetics BioMedical, Inc. All Rights Reserved.</p>
    </div>
  </div>

  {% include footer-script.html %}

</footer>