<!-- Javascript -->
<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
<script>
  $().ready(function(){
    $('.hero').imagesLoaded({ background: true }, function(){
      $('.hero.fade-in').addClass('is-loaded');
    });
    $('.hero-content').imagesLoaded({ background: true }, function(){
      $('.hero-content.fade-in').addClass('is-loaded');
    });
  });
</script>