{% if site.twitter_username %}
  {% include icon-twitter-2x.html username=site.twitter_username %}
{% endif %}
{% if site.facebook_username %}
  {% include icon-facebook-2x.html username=site.facebook_username %}
{% endif %}
{% if site.youtube_username %}
  {% include icon-youtube-2x.html username=site.youtube_username %}
{% endif %}
{% if site.linkedin_username %}
  {% include icon-linkedin-2x.html username=site.linkedin_username %}
{% endif %}
{% if site.instagram_username %}
  {% include icon-instagram.html username=site.instagram_username %}
{% endif %}
{% if site.googleplus_username %}
  {% include icon-google-plus.html username=site.googleplus_username %}
{% endif %}