---
layout: page
title: About Aesthetics Biomedical
description: Aesthetics Biomedical, Inc. is an aesthetic innovation company uniquely offering procedure and product enhancement, development, clinical indication expansion, application optimization, FDA clearance expertise, and worldwide distribution solutions for entrepreneurs, domestic, and international companies.
permalink: /about
---
<div class="divider divider-3"></div>
<div class="text-center">
  <div>
    <ol class="breadcrumb margin-0">
      <li><a href="/">Home</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
  </div>
</div>
<div class="divider divider-3"></div>

<main>
  <div class="jumbotron about-header">
    <!-- <img src="/assets/img/about_header_text.png" alt=""> -->
    <p class="text-white font-effect-3d-float">"There IS a way to do it better…find it." – Edison</p>
  </div>
  <div class="container">
    <div class="row margin-bottom-50">
      <!--
            Mission
        -->
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 id="mission" class="section-heading margin-50-0">Our Mission</h2>
        <p>
          Aesthetics Biomedical represents a team of the best and the brightest innovators in the global aesthetics market who have created programs that are designed to create optimal results for the consumer. ABM is a thought leader in the innovation of treatment serums, masks, numbing cream and recovery agents to optimize the results of the treatments we design.
        </p>
        <p>
          We have created three operational pillars that reflect our commitment to:
          <ul>
            <li>advancing the development and distribution of innovative, best-in- class aesthetic devices</li>
            <li>new care treatment experiences coupled with unique products delivered in ABM-inspired Care Centers</li>
            <li>a strong regulatory environment that is the platform for device and product development.</li>
          </ul>
        </p>
        <p>
          Aesthetics Biomedical coined the phrase The Vivace Experience&#8482;, to reflect our vision to not only provide a single device—The Vivace—or a product, but to deliver a comprehensive and integrated experience that maximizes the outcome for the patient. It is this advantage we bring to our clients, physicians and consumers alike. We never rest until we know we’re bringing excellence to the market. We integrate state-of- the-art education and training to guarantee the best possible outcomes for our clients and their patients for the lifetime of the relationship.
        </p>
        <p>
          Our regulatory consulting team is second to none, offering more than 50 years combined experience to provide expertise to clients who want to increase speed to market and maximize their financial investment. Our team has the assets available to help you get your product into the marketplace with critical regulatory compliance.
        </p>
        <p>
          We are tireless innovators, and we won’t stop until we know we’ve found the best solutions for the advancement of aesthetic medical practices.
        </p>
      </div>
      <div class="col-xs-12">
        <div class="divider background-gray-very-light margin-top-50"></div>
      </div>
      <!--
            Executive Team
        -->

      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 id="executive_team" class="section-heading margin-top-50">The Innovators</h2>

        <!-- MaryAnn Bio -->
        <div class="row margin-50-0">
          <div class="col-sm-12 text-center">
            {% include bio-ma.html %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 margin-25">
            <p>
              Our Founder MaryAnn Guerra has a career-long passion for bringing technology to market, accelerating innovation from the lab into commercial businesses and providing an incomparable client experience. As founder of Aesthetics Biomedical, she understands the importance of designing experiences that create results. As a client of her own company, she values the opportunity to feel her very best at any age using leading-edge, FDA-cleared technology and treatment serums and recovery agents that truly make a difference. It is her privilege to advance these innovations through a network of respected doctors and med spas to make an impact on the battle against aging for men and women.
            </p>
            <p>
              Guerra’s partner, Founder Dr. Farhan Taghizadeh are like-minded in their perpetual pursuit of perfection and their never-ending quest to turn innovation into results.
            </p>
            <p>
              Guerra also serves as Chairman of the Board, CEO, and co-founder of BioAccel, a non-profit organization with the mission to turn medical device breakthroughs into successful commercial ventures. Guerra has spent much of her career operating successful and progressive health, science, technology and start-up businesses. Guerra served as President of TGen Accelerators, LLC and Chief Operating Officer at TGen. Guerra has also had an impressive career at the National Institutes of Health, having held senior level positions, including: Executive Officer, National Heart Lung and Blood Institute and Deputy Director of Management &amp; Executive Officer at the National Cancer Institute.
            </p>
            <p>
              Her never-ending quest to challenge her team, question the status quo and pursue innovation with an eye for making a difference at the highest level of quality is what drives her every day.
            </p>
          </div>
        </div>

        <!-- Farhan Bio -->
        <div class="row margin-50-0">
          <div class="col-sm-12 text-center">
            {% include bio-farhan.html %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 margin-25">
            <p>
              As Founder and Director of Innovation for Aesthetics Biomedical, Dr. Taghizadeh’s brilliant mind lives in the results of today and the possibilities of tomorrow. He is an expert in facial rejuvenation and is recognized by his peers for his excellence as a surgeon, having performed more than 3,000 facelifts and his tenacity for results, having performed thousands of laser procedures on patients across the United States. Today, his passion is providing is turning back the hands of time using the technology available to us before invasive measures are taken.
            </p>
            <p>
              As a board certified plastic surgeon, he is so much more than that to this industry. He is a luminary and thought leader who has authored many publications, spoken at key national meetings, and consulted with many companies in the facial aesthetic arena. As a visionary innovator, Dr. Taghizadeh’s rare talent is to understand the soft skills needed for bringing a product to market and presenting devices and products that represent the best in class. His passion is to create a brand that can serve as a consultant, authority and concierge to women and men alike on their journey to optimal rejuvenation.
            </p>
            <p>
              He takes challenges head on. When a survey revealed to him that many potential patients avoided services due to a fear of pain, he tackled that, making sure that the treatments we represent are the most comfortable for our clients. He continues to be passionate about the possibilities in advancing the field of facial aesthetics. He is an educator and a passionate advocate for looking one’s best using the best that we can find to make a difference.
            </p>
          </div>
        </div>
        <!-- Tim V. Bio
        <div class="row margin-50-0">
          <div class="col-sm-12 text-center">
            {% include bio-tim-v.html %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 margin-25">
            <p>
              The CFO of ABM is a visionary financial expert with deep experience in fundraising and creating profitability. Vutone began his career in Silicon Valley at Hewlett Packard, and showed results at his first start-up at Convergent Technologies, a company that grew from $9 million to $325 million in three years. Has raised more than $180 million in equity and debt, and understands the dynamics facing growth companies with an eye towards longevity and stability.
            </p>
            <p>
              Vutone and his firm, Vertex Consulting, worked with biotech, semiconductor, software, solar and technology companies where he achieved milestone results for his clients: raised more than $10 million in equity, raised more than $3.5 million in bank lines of credit and $4 million in lease lines. He participated in the establishment of a $10 million venture lease fund and the establishment of an $8 million lease portfolio.

              Previously, he served as CFO of Advent Solar, a New Mexico start-up, CFO of Validity Sensors, CFO of Syntellect, where he participated in a turnaround yielding profit for the company for the first time in ten years. Vutone served as CFO of Vivid Semiconductor and CFO of Capetronic International Holdings, Ltd.

              Tim holds a BS in economics and an MBA from the University of Santa Clara; Santa Clara, California.
            </p>
          </div>
        </div>
         -->
        <!-- Tim D. Bio -->
        <div class="row margin-50-0">
          <div class="col-sm-12 text-center">
            {% include bio-tim-d.html %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 margin-bottom-25">
            <p>
              Gaining regulatory clearance is a significant asset in the aesthetics innovation industry, and ABM is pleased to make available an industry expert with extraordinary respect from his peers to support your business. Tim Duggins is a regulatory compliance and quality management system expert, who has demonstrated superior business acumen and a record of success for more than 30 years. He has hands-on experience designing, implementing, maintaining and continually improving regulatory and quality management processes with a focus on speed to market, inherently safe design and fiscal responsibility. Duggins has extensive experience in preclinical testing plan development, clinical trial design/approval/management/reporting, third-party testing and many market-access procedures including FDA, CE, Health Canada, Japan and similar jurisdictions.
            </p>
            <p>
              Duggins is a highly sought out expert, widely recognized as THE person to represent corporate interests in discussions with regulatory officials; inspectors, notified body assessors or key customers. Duggins' authoritative expertise, reassuring demeanor, problem-solving assets and superior negotiating skills make him best aligned to achieve favorable outcomes. Duggins' experience spans the medical spectrum from high-volume, lost-cost injection molded parts, microneedling devices, lasers, software, drug/device combinations, blood and blood products, to tissues for transplantation and long-term implantable devices.
            </p>
          </div>
        </div>

        <!-- Tim S. Bio -->
        <div class="row margin-50-0">
          <div class="col-sm-12 text-center">
            {% include bio-tim-s.html %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 margin-25">
            <p>
              Tim Shanahan’s career is highlighted by 25 years of executive management, sales, marketing and master global distribution experience within the medical sales industry. He has consulted for numerous entities including Lumenis Ltd. and Fotona regarding medical aesthetic selling, marketing, training, revenue generation, distribution and expanding business opportunities through venture capital alliances and acquisition partnering.
            </p>
            <p>
              His recent experiences include: Vice President of Sales for BiO2, a cosmeceutical wound healing manufacturer of Proven ScarRelief® and Amino-Plex®, CEO of Revenue Cure Inc., an aesthetic brokerage where he achieved the distribution for BiO2 with Omni Bioceutical Innovations and consulted for Viora and EpiMedica Inc.
            </p>
            <p>
              When Shanahan met Dr. Taghizadeh, he knew his passion for innovation would be well matched to his distribution and marketing expertise. He is unstoppable in his commitment to his clients, presenting the right device, with the right treatment serums, with the right recovery system at the right time. He knows a dedication to excellence will translate into increased revenue and success for his clients.
            </p>
          </div>
        </div>

        <!-- Felicia Bio -->
        <div class="row margin-50-0">
          <!-- <div class="col-sm-12 col-md-6 col-md-offset-3 text-center"> -->
          <div class="col-sm-12 col-md-4 text-center">
            {% include bio-antoinette.html %}
          </div>
          <div class="col-sm-12 col-md-4 text-center">
            {% include bio-felicia.html %}
          </div>
          <div class="col-sm-12 col-md-4 text-center">
            {% include bio-sarah.html %}
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-12 margin-bottom-25">
            <p>
              Felicia Taghizadeh, JD, CPC, combines her legal knowledge, practice management experience and executive coaching skills to help physician practices navigate and exploit the challenges and opportunities of today’s healthcare environment.
            </p>
            <p>
              With more than ten years in private practice management, Felicia understands the ups and downs of running a medical practice, and is excited to bring the Aesthetics Biomedical Care Center model in to physician offices.  She deeply understands that successful physicians relate to their patients on an interpersonal level, and helps them develop the skills to create a stable aesthetic patient base. She has earned high praise for her physician coaching; she helped several physicians become top performers for a national aesthetic company.
            </p>
            <p>
              Felicia earned her B.A. in history magna cum laude from Bryn Mawr College, and her J.D. from Cornell University where she was an editor of the Cornell Law Review.
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>