---
---

@import"bootstrap";
@import"site_footer";
@import"hero";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";

@font-face {
    font-family: 'newsGothicStd';
    src: url(../fonts/news_gothic_std.otf);
}
@font-face {
    font-family: 'newsGothicStd';
    src: url(../fonts/news_gothic_std_bold.otf);
    font-weight: bold;
}
@font-face {
		font-family: 'novocentoWide';
		src: url(../fonts/Novecentowide-Normal.otf);
}

.brand-font {
		font-family: novocentoWide;
    @media (max-width: $grid-float-breakpoint) {
    		font-size: 0.9em;
    }
}

.section-heading {
	font-size: $font-size-base;
	font-weight: bold;
	text-transform: uppercase;
}

.text-black { color: $gray-base; }
.text-white { color: $white; }
.gray-light { color: $gray-light; }

.background-gray-dark { background-color: $gray-dark; }
.background-gray { background-color: $gray; }
.background-gray-light { background-color: $gray-light; }
.background-gray-very-light { background-color: $gray-very-light; }

.row-black { background-color: $gray-base; }
.row-gray-very-dark { background-color: $gray-very-dark; }

.margin-0 { margin: 0; }
.margin-25-0 { margin: 25px 0px; }
.margin-50-0 { margin: 50px 0px; }
.margin-top-1 { margin-top: 1em; }
.margin-top-25 { margin-top: 25px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-100 { margin-top: 100px; }
.margin-bottom-1 { margin-bottom: 1em; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-50 { margin-bottom: 50px; }

.line-height-2 { line-height: 2em; }
.line-height-3 { line-height: 3em !important; }
.line-height-4 { line-height: 4em; }
.line-height-5 { line-height: 5em; }

.padding-0 { padding: 0 }
.padding-20-0 { padding: 20px 0 }
.padding-50-0 { padding: 50px 0 }
.padding-left-1 { padding-left: 1em; }
.padding-left-3 { padding-left: 3em; }
.padding-right-1 { padding-right: 1em; }

.max-height-500 { max-height: 500px; }
.max-width-100 { max-width: 100px; }
.width-3 { width: 3em !important; }
.width-5 { width: 5em !important; }

.underline { text-decoration: underline; }

.divider {
	height: 1px;
  overflow: hidden;
 }
.divider-3 { height: 3px; }
.divider-25 {
		height: 25px;
		padding: 7px;
}
.divider-110 { height: 110px; }
.divider-gold { background-color: $skin-tone; }

.container > .navbar-header { margin: 0; }

.navbar { margin-bottom: 0px; }

.navbar-default {
	border: none;
}

.navbar-brand {
		padding: 7px;
		@media (max-width: 320px) {
			img {
					max-width: 288px;
			}
		}
		@media (min-width: 320px) and (max-width: $screen-md) {
			img {
					max-width: 341px;
			}
		}
}

.img-center {
		display: block;
    margin: 0 auto;
}


.navbar-default .navbar-nav > li > a { color: $white; }

.navbar-default .navbar-nav > .active > a {
	color: $white;
	background-color: rgba(0,0,0,0.1);
}

.navbar-default .navbar-nav > .active > a:hover {
	color: $white;
	// background-color: rgba(0,0,0,0.2);
	// transition: background-color .3s;
}

.navbar-default .navbar-nav > li > a:hover {
	color: $white;
	background-color: rgba(0,0,0,0.1);
	transition: background-color .3s;
}

.profile-pic {
    max-width: 200px;
    margin-top: 50px;
}

.z-depth-3 { box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); }

.table-bordered > tbody > tr > td.line-height-4 { line-height: 4em; }

.vivace-headline-md-and-up {
	font-weight: 300;
	margin-top: 2em;
	font-size: 6em;
}

.vivace-headline-sm-and-down {
	margin-top: 0.5em;
	font-size: 6em;
}

.vivace-subheader {
	margin-bottom: 1em;
  font-size: 2em;
  font-style: italic;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}

ul.posts li {
  margin-bottom: 1.5em;
}

ul.posts .date {
  margin-right: 0.3em;
  display: inline-block;
}

address { margin: 0; }

// .about-header img {
//     position: absolute;
//     width: 490px;
//     max-width: 100%;
//     z-index: 1000;
//   	padding: 8px;

// 	  @media (min-width: $screen-xs) and (max-width: $screen-sm) {
//     		left: 50%;
// 		  	top: 87%;
// 		  	width: 322px;
// 	  }

// 	  @media (min-width: $screen-sm) {
// 		  	left: 50%;
// 		  	top: 50%;
// 	  }

// }

.landing-header p,
.about-header p,
.contact-header p,
.regulatory-header p,
.vivace-header p,
.experience-header p,
.products-header p {
		font-family: 'Open Sans', sans-serif;
    left: 60%;
    top: 85%;
    position: absolute;
    font-weight: bold;
    font-size: 2em;

		@media (max-width: 376px) {
				left: 12%;
		    top: 84%;
		}

    @media (min-width: 377px) and (max-width: 550px) {
				left: 12%;
		    top: 77%;
    }
}

.landing-header p {
    left: 0%;
    top: 70%;
}

.about-header p {
    left: 38%;
    top: 80%;
}

.products-header p {

		left: 12%;
    top: 77%;

  	@media (min-width: 550px) and (max-width: 700px) {
		    left: 68%;
		    top: 68%;
  	}
  	@media (min-width: 701px) {
			  left: 4%;
			  top: 70%;
		}
}

#product-btns {

		margin: 300px 4%;

	  @media (min-width: 350px) and (max-width: 550px) {
				margin: 375px 4%;
  	}
  	@media (min-width: 550px) and (max-width: 700px) {
  			margin: 23% 30%;
  	}
  	@media (min-width: 701px) {
  			margin: 23% 73%;
  	}
}

.vivace-header p {
    color: $gray-base;
    width: 526px;
    left: 55%;
    top: 80%;
}

.about-header {
		background-image: url('../img/about_hero_compressed_again.jpg');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
				background-position: 35%;
	  }
}

.vivace-header {
		background-image: url('../img/vivace_header_no_bg.jpg');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
		    background-position: 26%;
    		zoom: 0.9;
	  }
}

.vivace-header img {
    position: absolute;
    width: 490px;
    max-width: 100%;
    z-index: 1000;
  	padding: 8px;

	  @media (min-width: $screen-xs) and (max-width: $screen-sm) {
    		left: 50%;
		  	top: 87%;
		  	width: 322px;
	  }

	  @media (min-width: $screen-sm) {
  	    left: 54%;
    		top: 44%;
	  }

}

.products-header {
    background-image: url('../img/products_header.jpg');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
				background-position: 35%;
	  }
}

.experience-header {
		background-image: url('../img/experience_hero.jpg');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
				background-position: 35%;
	  }
}


.regulatory-header {
		background-image: url('../img/regulatory_hero_bw_compressed_blended.jpg');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
				background-position: 35%;
	  }
}

.news-header {
		background-image: url('../img/news_hero_compressed_bw.jpg');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
				background-position: 35%;
	  }
}

.contact-header {
		background-image: url('../img/face_bw_about_4.png');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
				background-position: 35%;
	  }
}

.micro-header {
		background-image: url('../img/VivaceNeedles_4_3.jpg');
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center 60%;
	  height: 90vh;

	  @media (max-width: $grid-float-breakpoint) {
				background-position: 35%;
	  }
}

.brand-outlined { border: 1px solid $skin-tone; }