---
layout: default
---
<div class="row text-center">
	<div class="col-xs-12 col-sm-12">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li><a href="/news">News</a></li>
		  <li class="active">{{ page.title }}</li>
		</ol>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

			<article itemscope itemtype="http://schema.org/BlogPosting">

			  <header class="center-block">
			    <h1 class="page-header" itemprop="name headline">{{ page.title }}</h1>
			    <p>
			    	<em><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</em>
		    	</p>
			  </header>

			  <div class="margin-top-25" itemprop="articleBody">
		    	{{ content }}
			  </div>
				<p><strong>Aesthetics Biomedical’s</strong> executive team and regulatory experts stay on top of requirements by participating in a host of national and international forums, standards writing efforts, advisory committees and by periodically meeting with regulatory agencies right around the world. We manage and implement change before it is mandatory to do so.</p>

				<p><strong>Aesthetics Biomedical</strong> is the “can-do” partner every company in this dynamic industry should have.</p>

				<p>For more information on how Aesthetics Biomedical’s regulatory team can help you overcome barriers please <a href="/contact">send us a message</a> or call us at 1.800.726.5029</p>

			</article>
		</div>
	</div>
</div>